@model IEnumerable<CustomerOrders.ViewModels.OrderTotal>

@{
    ViewBag.Title = "OrderList";
}

<h2>Order List</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Date
        </th>
        <th>
            OrderID
        </th>
        <th>
            ProductID
        </th>
        <th>
            Price
        </th>
        <th>
            Amount
        </th>
        <th>
            Total
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>

            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    }
</table>

